.our-team {
    background-color: var(--bg-grey-color);
}

.our-team__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.our-team__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--secondary-color);
}

.our-team__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: var(--white-color);
    
    &:last-child {
        margin-right: 0;
    }}


.our-team__block {
    padding-top: 30px;
    padding-bottom: 30px;
}

.our-team__subtitle {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.our-team__text {
    text-align: center;
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--pimary-color);
}