.register-form-wrap {
  position: relative;
  display: block;
  margin-bottom: 10px;

        &:last-child {
       margin-bottom: 0;
  }}

.register-form-label {
  display: block;
  text-align: left;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--pimary-color);
}

.register-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  padding-top: 11px;
  padding-right: 12px;
  padding-bottom: 11px;
  padding-left: 42px;
  border-radius: 5px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
    outline: 0;
    border-color: var(--hover-color);
  }}

.register-form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  transition: fill 1s cubic-bezier(0.4, 0, 0.2, 1);

     &:focus {
    fill: var(--hover-color);
  }}

  
.register-form-input:focus + .register-form-icon {
  fill: var(--hover-color);
}






.register-form-message {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  border-radius: 5px;
  outline: transparent;
  resize: none;
  margin-bottom: 20px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
      outline: 0;
      border-color: var(--hover-color);
    }}


.register-form-message::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}


.register-form-agreement {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/*.register-checkbox:checked + .register-icon .register-icon-uncheck {
  opacity: 0;
}
*/
.register-icon-uncheck {
    opacity: 1;
   .register-checkbox:checked + .register-icon & {
    opacity: 0;
    }}


.register-icon-check {
    opacity: 0;
    .register-checkbox:checked+.register-icon & {
     opacity: 1;
     }}


/* СПАН ТЕКСТА*/
.register-form-agreement-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  user-select: none;
  text-underline-position: under;
  color: var(--pimary-color);
}
/*СПАН ЛІНКУ*/
.register-form-agreement-link {
  color: var(--accent-color);
}
