:root {
    --pimary-color: #757575;
    --secondary-color: #212121;
    --accent-color: #2196f3;
    --white-color: #ffffff;
    --bg-dark-color: #2f303a;
    --bg-grey-color: #f5f4fa;
    --hover-color: #2196f3;
    --text-color-white: #ffffff;
}
